.banner {
  background-image: url(../../images/banner.pic.jpg);
  padding: 150px 0px;
}
.banner h1 {
  font-weight: bold;
  font-size: 50px;
}
.banner h2 {
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 40px;
}
